{% extends 'certificates.html' %}

{% block form %}
<div class="forms row">


    <div class="jumbotron">
        <h1>Contact US</h1>
        <div class="formss">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %} 
                {{ user_form.as_p }}
                <input class="btn btn-outline-light" type="submit" value="Send">
            </form>
        </div>
        
        
    </div>

</div>
<div class="footer row">
    <p>© 2021 Chris Dermody</p>
</div>
{% endblock %}