{% extends 'home.html' %}
{% block skill %}

<div class="skill row" >
    <h1 data-aos="fade-down">Skills</h1>
    <div class="skillrow row">
        <div class="col-lg-4">
            <h2 data-aos="fade-down-right">FrontEnd</h2>
    <div class="frontend" data-aos="fade-up-left">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="html">HTML</li>
            <li class="list-group-item" id="css">CSS</li>
            <li class="list-group-item" id="js">JAVASCRIPT</li>
            <li class="list-group-item" id="react">REACT</li>
          </ul>
    </div>
        </div>

        <div class='col-lg-4'>
            <h2 data-aos="fade-down-right">BackEnd</h2>
    <div class="frontend" data-aos="fade-up-left">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="django">DJANGO</li>
            <li class="list-group-item" id="node">NODE.JS</li>
            <li class="list-group-item" id="express">EXPRESS</li>
            <li class="list-group-item" id="firebase">FIREBASE</li>
          </ul>
    </div>
        </div>
    
        <div class="col-lg-4">
            <h2 data-aos="fade-down-right">Databases</h2>
    <div class="frontend" data-aos="fade-up-left">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">MYSQL</li>
            <li class="list-group-item">POSTSQL</li>
            <li class="list-group-item">MONGODB</li>
          </ul>
    </div>
        </div>
</div>
</div>

{% block certi %}
{% endblock %}
{% endblock %}